@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: var(--text);
}

.nameInput .name {
    padding: 20rem;
}

input{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 0.75rem;
    border-radius: 10px;
}

select {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 0.75rem;
    border-radius: 10px;
}