@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.filter {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}