:root {
    --primary: #0B0B0B;
    --text: #FFFFFF;
    --button: #C02434;
    --button-cinza: #1C1C1C;
    --card-cinza: #1C1C1C;
    --card-evento1: #794714;
    --card-evento2: #4D0910;
    --card-evento3: #091028;
}