@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
    font-family: "Montserrat", sans-serif;
    color: var(--text);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}