@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.competicoes {
    padding: 1rem 5rem 0 4.5rem;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    padding: 1.5rem 0 0 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.divulgacoes {
    background-color: var(--button-cinza);
    padding: 1.5rem;
    border: 1px solid var(--button-cinza);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.topoCard {
    display: flex;
    gap: 1.2rem;
}

.topoCard img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.textoCard h3 {
    font-size: 1.25rem;
    margin: 0 0 .5rem 0;
}

.textoCard p {
    margin: 0.3rem 0;
    color: #cfcfcf;
}

.eventoDestaque {
    padding: 2rem 0 2rem 4.5rem;
    font-family: "Montserrat", sans-serif;
}

.todosEventos {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.eventoCard {
    padding-top: 1rem;
}

.cardEventos1 {
    width: 20rem;
    height: auto;
    padding: 0.5rem;
    background-color: var(--card-evento1);
    border: 1px solid var(--card-evento1);
    border-radius: 10px;
}

.cardEventos1 h2 {
    padding-left: 2rem;
}

.cardEventos2 {
    width: 20rem;
    height: auto;
    padding: 0.5rem;
    background-color: var(--card-evento2);
    border: 1px solid var(--card-evento2);
    border-radius: 10px;
}

.cardEventos2 h2 {
    padding-left: 2rem;
}

.cardEventos3 {
    width: 20rem;
    height: auto;
    padding: 0.5rem;
    background-color: var(--card-evento3);
    border: 1px solid var(--card-evento3);
    border-radius: 10px;
}

.cardEventos3 h2 {
    padding-left: 2rem;
}


.mensagemVazia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.mensagemVazia p {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
}