.inputsPesquisas {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 1rem;
}

.inputsPesquisas select{
    width: 10rem;
    background-color: var(--button-cinza);
    border: 1px solid var(--button-cinza);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: var(--text);
}