@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.menu {
    display: flex;
    margin: 0 auto;
    padding: 1.5rem 0 2rem 0;
    align-items: center;
    justify-content: space-around;
}

.logoP {
    width: 5rem;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
}

.navegacao ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

.criarConta {
    background-color: var(--button);
    width: 5.3rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--button);
    font-family: "Montserrat", sans-serif;
    color: var(--text);
    transition: transform 0.2s;
}

.criarConta:hover {
    transform: scale(1.05);
}