@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footerP {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 2rem 0 2rem 0;
}