@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 4rem 2rem;
    overflow: hidden;
}

.heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(50%) sepia(100%) hue-rotate(180deg) saturate(300%);
}

.heroContent {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 800px;
}

.logoPublicano {
    width: 20rem;
}

.heroContent h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.0rem;
    margin-bottom: 1.5rem;
    color: var(--text);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.heroContent p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}