@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  padding: 4rem 0 0 4rem;
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(50%) sepia(100%) hue-rotate(180deg) saturate(300%);
  display: block;
}

.heroContent {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 800px;
  padding: 0 2rem;
}

.logoPublicano {
  width: 20rem;
}

.heroContent h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--text);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.heroContent p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--text);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 360px) and (max-width: 414px) {
    .hero {
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}