@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.competicoes {
    padding: 1rem 5rem 0 4.5rem;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    padding: 1.5rem 0 0 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.mensagemVazia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.mensagemVazia p {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
}

.divulgacoes {
    background-color: var(--button-cinza);
    padding: 1.5rem;
    border: 1px solid var(--button-cinza);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.topoCard {
    display: flex;
    gap: 1.2rem;
}

.topoCard img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.textoCard h3 {
    font-size: 1.25rem;
    margin: 0 0 .5rem 0;
}

.textoCard p {
    margin: 0.3rem 0;
    color: #cfcfcf;
}