* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  background: var(--primary);
  color: var(--text);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  overflow-x: hidden;
}