* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--primary);
    color: var(--text);
    max-width: auto;
}

/* Previne scroll quando menu mobile está aberto */
body.menu-aberto {
  overflow: hidden;
}