.botaoCinza {
    background-color: var(--button-cinza);
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--button-cinza);
    font-family: "Montserrat", sans-serif;
    color: var(--text);
    cursor: pointer;
    transition: transform 0.2s;
}

.botaoCinza:hover {
    transform: scale(1.05);
}